body {
    background-image: url(images/brickwall.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}




main div {
    display: flex;
}



#crono {
    display: flex;
    margin-left: 300px;
    margin-top: 80px;
    z-index: 8;
}

#timer {
    font-size: 80px;
    z-index: 6;
    color: white;
    align-items: center;
    margin-left: 17px;
    font-family: 'Rajdhani', sans-serif;
    
}

#player {
    z-index: 0;
    position: fixed;
    margin-top: 280px;
    margin-left: 220px;

}

#desktop-img {
    z-index: 1;
    position: fixed;
    margin-left: -8px;
}

#img {
    height: 420px;
    margin-top: 10px;
    margin-left: -20px;
    z-index: 0;
    position: fixed;
}

#mytv {
    width: 800px;
    z-index: 1;
    position: fixed;
    margin-top: 80px;
}



#clock input {
    width: 35px;
}

#clock-minutes {
    background-color: black;
    width: 220px;
    height: 100px;
    z-index: 0;
    position: fixed;
    margin-left: 280px;
    margin-top: 108px;
    border-radius: 10px;
}

#kohai {
    width: 500px;
    position: fixed;
    margin-left: 1200px;
    margin-top: 220px;
}