body {
    background-image: url(images/japan.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


}

main {
    display: flex;
    margin-left: 500px;
}

main div {
    display: flex;
}

#vid {
    width: 100%;
    height: 100%;
}

.crono {
    display: flex;
}

#timer {
    font-size: 50px;
}

/* #img {
    z-index: 0;
    position: fixed;
    margin-top: 435px;
    margin-left: 100px;
} */

#player {
    z-index: 0;
    position: fixed;
    margin-top: 100px;
    margin-left: 75px;
    
}

#img {
    height: 350px;
}

#mytv {
    width: 800px;
    z-index: 1;
    position: fixed;
}

footer {
    position: absolute;
}